<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <div *ngFor="let acc of accounts; let i = index">
      <app-account
        
        [account]="acc"
        [id]="getId(acc)"></app-account>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="accounts[i].name"
            [class.d-none]="!isEditing(i)"
            class="form-control"
            placeholder="New Name"
          >
          <div class="input-group-append">
          <button class="btn btn-info" (click)="toggleEdit(i)">Edit</button>
    </div>
      
        
    </div>
  </div>
</div>
